/* General Customizations */
body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: right;
}

/* Navbar Customization */
.navbar {
    background-color: #fff;
    padding: 15px 30px;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #333;
    margin-right: 20px;
    font-size: 1.2rem;
}

.navbar-nav .nav-link:hover {
    color: #E03A24;
}

.navbar-nav .nav-link img {
    width: 24px;
    height: 24px;
}

/* Hero Section Customization */
.hero-section {
    position: relative;
    height: 600px;
    background-color: #f8f9fa;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section img {
    max-width: 300px;
}

.hero-text {
    max-width: 600px;
    padding: 20px;
}

.hero-text h1 {
    font-size: 2.5rem;
    color: #E03A24;
    margin-bottom: 20px;
}

.hero-text h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

/* Contact Form Customization */
.contact-form h1 {
    font-size: 1.75rem;
    color: #333;
    margin-bottom: 10px;
}

.contact-form p {
    font-size: 1.25rem;
    color: #666;
    margin-bottom: 20px;
}

.contact-form .form-control,
.contact-form .form-select {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.contact-form .btn-danger {
    background-color: #E03A24;
    border-color: #E03A24;
    padding: 10px 20px;
}

.contact-form .btn-danger:hover {
    background-color: #c32c1c;
    border-color: #c32c1c;
}

/* Menu Section Customization */
.menu-section h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px dashed #E03A24;
    padding-bottom: 10px;
}

.menu-section ul {
    list-style-type: none;
    padding: 0;
    text-align: right; /* Ensure right alignment for Hebrew text */
}

.menu-section ul li {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #555;
}

.menu-section .row {
    margin-bottom: 20px;
}

/* Specials Section Customization */
.menu-section .col-12 ul li {
    font-weight: bold;
    color: #333;
}

.menu-section .col-12 ul li strong {
    color: #E03A24;
}

/* Footer */
footer {
    background-color: #f8f9fa;
    margin-top: 20px;
    padding: 15px 0;
    font-size: 0.9rem;
    color: #777;
}

/* Specific to Dropdown */
#restaurant-selection {
    margin-top: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#restaurant-select {
    font-size: 1.2rem;
    padding: 10px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
